---
import { getCollection, type CollectionEntry } from "astro:content";

// data imports
// import * as site from "../../data/site.json";

//  layout imports
import Layout from "../../layouts/Layout.astro";

//  component imports
import Hero from "../../components/SectionHeader.astro";
import PostCard from "../../components/PostCard.astro";

//  utils imports
import { formatBlogPosts } from "../../js/utils";

// export formatted blog posts with pagination
export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);

  return paginate(formattedPosts, {
    // pageSize: 6,
  });
}

interface Props {
  posts: CollectionEntry<"blog">[];
  authorName: string;
  page?: string;
}

const { page } = Astro.props;
const headerTitle = "Files";
const title = "Blog Articles";
const description =
  "I write about comic books, coding and everything in between.";
---

<Layout title={title} page={headerTitle} description={description}>
  <Hero headerTitle={headerTitle} title={title} description={description} />
  <main>
    {
      // @ts-ignore
      page.data.map((post) => (
        <PostCard data={post.data} url={post.slug} tagType="h2" />
      ))
    }
  </main>
</Layout>
