---
//  library imports
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

//  layout imports
import Layout from "../../layouts/Layout.astro";

//  component imports
//  import Hero from "../../components/SectionHeader.astro";
import Categories from "../../components/CategoryPicker.astro";
import RelatedPosts from "../../components/RelatedPosts.astro";
import TagCloud from "../../components/Tags.astro";

// utils imports
import { slugify, formatBlogPosts, formatDate } from "../../js/utils";

// export formatted blog posts
export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts = formatBlogPosts(allPosts);

  return formattedPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, date, category, tags, author, image } = post.data;

const { Content } = await post.render();

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    (post) => post.data.category === category && post.data.title !== title,
  )
  .slice(0, 3);

// const hasSpecificTag = tags?.includes("mackdaddy");
// Replace "specific-tag" with the tag you want to check

const categoryTitle = "More Article Categories";
---

<Layout title={title} description={description} page={category}>
  <div id="slug">
    <main id="slug__post">
      <div class="card__wrapper">
        <div class="card post">
          <header class="card__header">
            <img
              src="/assets/images/title-bar-close.png"
              height="28"
              width="28"
              class="control close"
              alt="Close"
            />
            <div class="title">
              <h3 class="card__title">
                <a href={`/category/${slugify(category)}/`} class="badge"
                  >{category}</a
                >
              </h3>
              <span class={`icon ${slugify(category)}`}>&nbsp;</span>
            </div>
            <img
              src="/assets/images/title-bar-expand.png"
              height="28"
              width="28"
              class="control expand"
            />
            <img
              src="/assets/images/title-bar-collapse.png"
              height="28"
              width="28"
              class="control collapse"
            />
            <a href="/" class="button">&nbsp;</a>
          </header>

          <section class="card__content">
            <article>
              <section class="hero-image">
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <filter id="noiseFilter">
                      <feTurbulence
                        type="fractalNoise"
                        baseFrequency="0.65"
                        numOctaves="3"
                        stitchTiles="stitch"></feTurbulence>
                    </filter>

                    <rect width="100%" height="100%" filter="url(#noiseFilter)"
                    ></rect>
                  </svg>
                  <Image
                    src={image.src}
                    alt={image.alt}
                    class={image.class}
                    width="400"
                    height="250"
                    format="webp"
                    quality={80}
                  />
                </a>
                {
                  category === "MackDaddy Fun & Games" && (
                    <div class="corner-box">
                      <a
                        href="https://www.youtube.com/@mackdaddyfun"
                        target="_blank">
                        <img
                          src="/assets/images/mackdaddy-logo@3x.png"
                          class="no-border md-logo"
                        />
                      </a>
                    </div>
                  )
                }
              </section>

              <section id="content">
                <h1>{title}</h1>
                <TagCloud tags={tags} />
                <Content />
              </section>
            </article>
            <section class="card__meta">
              <p>
                <a href={`/author/${slugify(author)}/`}>{author}</a>
                &bull; Posted: {formatDate(date)}
              </p>
            </section>
          </section>
        </div>
      </div><!-- end: .card-wrapper -->
    </main>
    <aside class="related">
      <Categories title={categoryTitle} />
      <RelatedPosts {relatedPosts} />
    </aside>
  </div>
</Layout>

<style is:global>
  #slug {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    padding: 0;
    width: min(100ch, 100%);
  }
  main {
    columns: unset;
    margin: 0;
    width: 100%;
  }
  #slug > main {
    padding-bottom: 0;
  }
  aside.related {
    width: 100%;
  }
  #slug__post .card__wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
  }
  #content {
    display: flow-root;
    overflow-y: hidden;
    padding: 2rem;
    pointer-events: all;
    position: relative;
    z-index: 1;
  }
  #content a {
    color: hsl(var(--color-selection), 1);
  }
  #content h1 {
    font-size: clamp(3ch, 5ch, 7ch);
    line-height: 100%;
    padding-bottom: 2rem;
    text-align: center;
  }
  #content :where(h2, h3) {
    font-size: clamp (2ch, 3ch, 1.8rem);
    margin-bottom: 2rem;
  }
  #content h4 {
    font-size: 1.5ch;
    margin-bottom: 2rem;
  }
  #content h5 {
    font-size: 1ch;
    margin-bottom: 2rem;
  }
  #content h6 {
    font-size: 0.5ch;
    margin-bottom: 2rem;
  }
  #content :where(h2, h3, h4, h5, h6) {
    border-bottom: 3px double hsl(var(--color-dark), 1);
    padding-bottom: 1rem;
  }
  #content p {
    margin-bottom: 2rem;
  }
  #content p.center {
    text-align: center;
  }
  #content p:last-of-type {
    margin-bottom: 0;
  }
  #content :where(img, iframe) {
    outline: 2px solid hsl(var(--color-dark), 0.75);
    box-shadow: 8px 8px 0 hsl(var(--color-dark), 0.5);
  }
  #content img {
    object-fit: contain;
    height: auto;
    max-width: 100%;
  }
  #content img.no-border {
    outline: none;
    box-shadow: none;
  }
  #content iframe {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
  }
  #content li {
    line-height: 150%;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }
  #content li:last-of-type {
    margin-bottom: 0;
  }
  #content :not(pre) code {
    background-color: hsl(var(--color-mid), 1);
    display: inline-block;
  }
  #single-post .hero-image img {
    max-height: 400px;
  }
  .card__header a.button {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
  }
  .control.collapse,
  .control.expand {
    opacity: 0;
  }
</style>
