---
// library imports
import { getCollection, type CollectionEntry } from "astro:content";

// data imports
import * as site from "../data/site.json";

// layout imports
import Layout from "../layouts/Layout.astro";

//  component imports
import Hero from "../components/Hero.astro";
import Categories from "../components/CategoryPicker.astro";
import PostCard from "../components/PostCard.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

// retrieve all blog posts
const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
	// limit: 4,
});

const { author, description } = site;
const title = "Home";
---

<Layout title={title} description={description} />
<main>
	<Hero title={author} description={description} />
	<Categories />
	{
		formattedPosts.map((post) => (
			<PostCard data={post.data} url={post.slug} tagType="h3" />
		))
	}
</main>
