---
// data imports
import * as site from "../data/site.json";

// stylesheet imports
import "../styles/reset.css";
import "../styles/global.css";

interface Props {
    title?: string;
    description?: string;
}

const { siteName, author, url, favicon, logo } = site;
const { title, description } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{`${title} | ${siteName}`}</title>

    <meta name="title" content={`${title} | ${siteName}`} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={`${title} | ${siteName}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={logo} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={`${title} | ${siteName}`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={logo} />
</head>
