---
// library imports
import { Image } from "astro:assets";

// component imports
import TagCloud from "./Tags.astro";

// utils imports
import { slugify, formatDate } from "../js/utils";

const { data, url } = Astro.props;
const { title, date, author, image, description, category, tags } = data;
---

<div class="card__wrapper">
  <div class="card post">
    <header class="card__header">
      <img
        src="/assets/images/title-bar-close.png"
        height="28"
        width="28"
        class="control close"
        alt="Close"
      />
      <div class="title">
        <h3 class="card__title">
          <a href={`/category/${slugify(category)}/`} class="badge"
            >{category}</a
          >
        </h3>
        <span class={`icon ${slugify(category)}`}>&nbsp;</span>
      </div>
      <img
        src="/assets/images/title-bar-expand.png"
        height="28"
        width="28"
        class="control expand"
      />
      <img
        src="/assets/images/title-bar-collapse.png"
        height="28"
        width="28"
        class="control collapse"
      />
    </header>

    <section class="card__content">
      <article>
        <section class="hero-image">
          <a href={`/blog/${slugify(url)}`} aria-hidden="true" tabindex="-1">
            <svg xmlns="http://www.w3.org/2000/svg">
              <filter id="noiseFilter">
                <feTurbulence
                  type="fractalNoise"
                  baseFrequency="0.5"
                  numOctaves="3"
                  stitchTiles="stitch"></feTurbulence>
              </filter>

              <rect width="100%" height="100%" filter="url(#noiseFilter)"
              ></rect>
            </svg>
            <Image
              src={image.src}
              alt={image.alt}
              class={image.class}
              width="400"
              height="250"
              format="webp"
              quality={80}
            />
          </a>
        </section>

        <h2>
          <a href={`/blog/${slugify(url)}`}>{title}</a>
        </h2>
        <p>{description}</p>
        <a href={`/blog/${slugify(url)}`} class="button">Read More</a>
        <TagCloud tags={tags} />
      </article>
      <section class="card__meta">
        <p>
          <!-- <span
            class="disqus-comment-count"
            data-disqus-url={`https://www.mackrichardson.com/blog/${slugify(url)}`}
            >Comments</span
          > &bull; -->
          <a href={`/author/${slugify(author)}/`}>{author}</a>
          &bull; Posted: {formatDate(date)}
        </p>
      </section>
    </section>
  </div>
</div><!-- end: .card-wrapper -->

<style>
  .post .control {
    opacity: 0;
  }
  p {
    font-size: clamp(0.75rem, 0.85rem, 0.95rem);
  }
  .tag-cloud {
    margin-bottom: 0.5rem;
  }
</style>
